@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: inherit;
  background: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  background: none;
}
/* --------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1286px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.header-actions {
  display: flex;
  gap: 45px;
}

.header__nav {
  display: flex;
  gap: 75px;
}

.footer {
  width: 1286px;
  margin: 0 auto;
}

.footer p {
  color: rgb(159, 159, 159);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 55px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 45px 0;
}

.footer__title {
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: 700;
}

.footer__list {
  display: grid;
  gap: 46px;
  font-size: 16px;
  font-weight: 700;
}

.footer__bottom {
  border-top: 1px gray solid;
  padding: 35px 0 35px 0;
}

.footer__input {
  border-bottom: 1px black solid;
}
.footer__button {
  border-bottom: 1px black solid;
}
/* -------------------------------------------- */

body {
  background-color: #fff;

  color: #000;
}

.breadcrumb {
  /* width: 1440px; */
  height: 100px;
  background: rgb(249, 241, 231);
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.breadcrumb-history {
  display: flex;
  gap: 16px;
  width: 1240px;
  margin: 0 auto;
}

.home-link {
  color: rgb(159, 159, 159);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.shop-link {
  color: rgb(159, 159, 159);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.asgaard-link {
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.cutter {
  width: 36px;
  height: 0;
  transform: rotate(90deg);
  border: 1px solid rgb(159, 159, 159);
  display: flex;
  align-self: center;
}

.container {
  display: flex;

  gap: 40px;
  /* padding-left: 100px; */
  width: 1250px;
  margin: 30px auto;
}

.main-container {
  /* margin-right: 100px;
  margin-left: 100px; */
  /* width: 1300px;
  margin: 0 auto; */
  width: 100%;
}

.thumbnail-gallery {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-content: center;
}

.thumbnail-wrap {
  width: 76px;
  height: 80px;
  border-radius: 10px;
  background: rgb(217, 217, 217);
}

.image-gallery img {
  width: 80px;
  border-radius: 8px;
}

.main-image {
  width: 423px;
  height: 500px;
  border-radius: 10px;
  background: rgb(249, 241, 231);
  display: flex;
  align-items: center;
  margin-right: 106px;
  margin-top: 32px;
}

.info {
  max-width: 500px;
}

.asgaard-h1 {
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  font-size: 42px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0%;
  text-align: left;
}

.info h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.price {
  color: rgb(159, 159, 159);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.stars {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #9f9f9f;
  margin-bottom: 20px;
}

.stars img {
  height: 16px;
  margin-right: 2px;
}

.desc {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #898989;
}

.size,
.color {
  margin-bottom: 20px;
}

.size span,
.color-circle {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.size .active {
  background-color: #b88e2f;
  color: white;
  border: none;
}

.size-label {
  color: rgb(159, 159, 159);
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.color-label {
  color: rgb(159, 159, 159);
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.circles {
  display: flex;
  gap: 16px;
}

.circle1 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: rgb(129, 109, 250);
  cursor: pointer;
}
.circle2 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: rgb(0, 0, 0);
  cursor: pointer;
}

.circle3 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: rgb(184, 142, 47);
  cursor: pointer;
}

.controle-section {
  display: flex;
  gap: 18px;
  margin-bottom: 60px;
}

.counter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 123px;
  height: 64px;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 0 15px;
  box-sizing: border-box;
}

.counter-box button {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.counter-box span {
  font-size: 18px;
  min-width: 20px;
  text-align: center;
}

/* .decrement {
  width: 9px;
  height: 24px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
} */

.add-btn {
  width: 215px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

.compare-btn {
  width: 215px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

.details {
  margin-top: 40px;
  font-size: 14px;
  color: #9f9f9f;
}

.details div {
  margin-bottom: 10px;
}

.details span {
  color: #000;
}

.share-icons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.share-icons img {
  width: 20px;
  margin-right: 10px;
}

.thumbnail-img {
  width: 76px;
  height: 80px;
  border-radius: 10px;
  background: rgb(249, 241, 231);
}

.product-details {
  margin-bottom: 50px;
}

.section-navigation {
  display: flex;
  gap: 52px;
  justify-content: center;
}

.active-navigation-item {
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.navigation-item {
  color: rgb(159, 159, 159);
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 36px;
}

.infromation-section {
  margin-top: 48px;
  margin-bottom: 66px;
  display: grid;
  justify-items: center;
}

.first-description {
  color: rgb(159, 159, 159);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: justify;
  margin-bottom: 30px;
}

.second-description {
  color: rgb(159, 159, 159);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: justify;
  margin-bottom: 36px;
}

.first-description {
  width: 1026px;
}

.information-images {
  display: flex;
  gap: 40px;
  /* padding-left: 100px; */
}

.first-image {
  border-radius: 10px;
  background: rgb(249, 241, 231);
  width: 605px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.second-image {
  border-radius: 10px;
  background: rgb(249, 241, 231);
  width: 605px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.show-btn {
  box-sizing: border-box;
  border: 1px solid rgb(184, 142, 47);
  background: rgb(255, 255, 255);
  width: 245px;
  height: 48px;
  color: rgb(184, 142, 47);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
}

.show-btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgb(184, 142, 47);
  background: #fff;
  width: 245px;
  height: 48px;
  color: rgb(184, 142, 47);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 92px;
}

.related-h2 {
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
  width: 309px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 56px;
}

.related-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 16px;
  max-width: 1240px;
  margin: 0 auto;
}

.product-card {
  position: relative;
  background: rgb(244, 245, 247);
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card__discount {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: red;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.product-card__container {
  padding: 0px 16px 30px 16px;
  display: grid;
  gap: 8px;
}

.product-card__container h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.product-card__container h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.product-card__overlay {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 34, 34, 0.3);
  align-content: center;
  justify-items: center;
  gap: 24px;
}

.product-card:hover .product-card__overlay {
  display: grid;
}

.product-card__actions {
  display: flex;
  gap: 22px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.product-card__action-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.product-card__add-cart-btn {
  background: white;
  color: rgb(184, 142, 47);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 55px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.main-product-image {
  width: 100%;
}
