body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: inherit;
  background: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  background: none;
}

/* ---------------------------------------------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1286px;
  margin: 0 auto;
  padding: 30px;
}

.header-actions {
  display: flex;
  gap: 45px;
}

.header__nav {
  display: flex;
  gap: 75px;
}

.footer {
  width: 1286px;
  margin: 0 auto;
}

.footer p {
  color: rgb(159, 159, 159);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 55px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.footer__title {
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: 700;
}

.footer__list {
  display: grid;
  gap: 46px;
  font-size: 16px;
  font-weight: 700;
}

.footer__bottom {
  border-top: 1px gray solid;
  padding: 35px 0 35px 0;
}

.footer__input {
  border-bottom: 1px black solid;
}
.footer__button {
  border-bottom: 1px black solid;
}
